* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

.wrapper {
  height: 100%;
  width: 100%;
  /* background-color: #f4faf7; */
}

nav {
  height: 9%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

nav h1 {
  color: #ff9442;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.nav-left {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 3rem;
}
.nav-left a {
  text-decoration: none;
  color: #111;
  font-size: 1.1rem;
  position: relative;
}

.nav-left a::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  bottom: 0;
  left: 0;
  background-color: #48c89c;
  transition: width 0.3s linear;
}

.nav-left a:hover::before {
width: 100%;
}

.nav-left select {
  text-decoration: none;
  outline: none;
  border: none;
  color: #111;
  font-size: 1.1rem;
}

.nav-left button {
  padding: 9px 18px;
  border-radius: 5px;
  background-color: #48c89c;
  border: 2px solid transparent;
  color: white;
  font-size: 1.1rem;
  font-weight: bolder;
  transition: background-color 0.3s linear, color 0.3s linear,
    border 0.3s linear;
}

.nav-left button:hover {
  background-color: initial;
  color: #48c89c;
  border: 2px solid #48c89c;
}

.hero-sec{
    height: 100vh;
    width: 100%;
    background-color: #f4faf7;
    display: flex;
    justify-content: space-between;
}

.hero-sec .left{
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45%;
}

.hero-sec  .right{
    width: 45%;
    height: auto;
}